#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	:

override_dh_auto_install:
	install -Dm755 target/release/stremio-linux-shell debian/stremio/opt/stremio/stremio
	install -Dm644 data/server.js debian/stremio/opt/stremio/server.js
	install -Dm755 debian/stremio-launcher debian/stremio/usr/bin/stremio
	install -Dm644 data/com.stremio.Stremio.desktop debian/stremio/usr/share/applications/com.stremio.Stremio.desktop
	install -Dm644 data/icons/com.stremio.Stremio.svg debian/stremio/usr/share/icons/hicolor/scalable/apps/com.stremio.Stremio.svg
	install -Dm644 data/com.stremio.Stremio.gschema.xml debian/stremio/usr/share/glib-2.0/schemas/com.stremio.Stremio.gschema.xml
	mkdir -p debian/stremio/opt/stremio/rk3588/lib
	cp -a rk3588-stack/lib/. debian/stremio/opt/stremio/rk3588/lib/

override_dh_strip:
	dh_strip -Xrk3588/lib -Xopt/stremio/stremio

override_dh_shlibdeps:
	dh_shlibdeps -- -l$(CURDIR)/debian/stremio/opt/stremio/rk3588/lib
